<div class="app-login">
  <!-- <div class="container"> -->

  <div class="form-signin">
    <div *ngIf="message.type=='success'" class="alert alert-success" role="alert">{{message.text}}</div>
    <div *ngIf="message.type=='danger'" class="alert alert-danger" role="alert">{{message.text}}</div>

    <h3 class="form-signin-heading">ورود به سیستم</h3>
    <form (ngSubmit)="login()" #form="ngForm">
      <label for="username" class="sr-only">نام کاربری</label>
      <input name="username" [(ngModel)]="model.username" type="text" id="username" class="form-control" placeholder="نام کاربری"
        required autofocus #username="ngModel">
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        نام کاربری الزامیست!
      </div>
      <label for="inputPassword" class="sr-only">رمز ورود</label>
      <input name="password" [(ngModel)]="model.password" type="password" id="inputPassword" class="form-control" placeholder="رمز ورود"
        required #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
             رمز ورود الزامیست!
          </div>
          <re-captcha site_key="6Lfeg0MUAAAAANfQyUEBDSeHbDm8Qkafmue0hDRi"></re-captcha>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.form.valid">ورود</button>
    </form>

    <!-- <div class=" register ">
      <a [routerLink]="['/register']">عضویت در سیستم</a>
    </div> -->
    <!-- <div class="register">
      <a [routerLink]="['/forgetpass']">رمز خود را فراموش کردم</a>
    </div> -->
  </div>

  <!-- </div> -->
  <!-- /container -->
</div>
