@font-face {
    font-family: "custom";
    src: url("../fonts/IRANSansWeb.eot");
    src: url("../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSansWeb.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}


/* body {
    direction: rtl;
} */

html,
body,
input,
textarea,
button,
h6,
a {
    font-size: 15px;
    font-weight: 400;
    font-family: custom!important;
}

h1 {
    font-size: 22px;
    font-weight: 400;
    font-family: custom;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: custom;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    font-family: custom;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: custom;
}