<div class="app-register">
  <div class="container">
    <div class="form-signin">
      <div *ngIf="message.type=='success'" class="alert alert-success" role="alert">{{message.text}}</div>
      <div *ngIf="message.type=='danger'" class="alert alert-danger" role="alert">{{message.text}}</div>

      <h2 class="form-signin-heading">عضویت در سیستم</h2>
      <form (ngSubmit)="register()" #form="ngForm">
        <label for="username" class="sr-only">شماره موبایل</label>
        <input [(ngModel)]="model.username" #username="ngModel" name="username" type="text" id="username" class="form-control" placeholder="شماره موبایل"
          required autofocus>
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          شماره موبایل الزامیست!
        </div>
        <label for="password" class="sr-only">رمز ورود</label>
        <input [(ngModel)]="model.password" #password="ngModel" name="password" type="password" id="password" class="form-control"
          placeholder="رمز ورود" required>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          رمز ورود الزامیست!
        </div>
        <label for="password" class="sr-only">تکرار رمز ورود</label>
        <input [(ngModel)]="model.password_repeat" #password_repeat="ngModel" name="password_repeat" type="password" id="password_repeat"
          class="form-control" placeholder="تکرار رمز ورود" required>
        <div [hidden]="password_repeat.valid || password_repeat.pristine" class="alert alert-danger">
          تکرار رمز الزامیست!
        </div>
        <button class="btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid">تایید</button>
      </form>
      <div class="login">
        <a [routerLink]="['/login']">ورود به سیستم</a>
      </div>

    </div>

  </div>
  <!-- /container -->
</div>